<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
  <title>Sunny's website!</title>
</head>

<body class="container-fluid">
  <div class="cnav">
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}"><em><b>Home</b></em> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('other') }}"><em><b>Other</b></em></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('cv') }}"><em><b>CV</b></em></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </nav>
  </div>

    <h1>{% block head %}{% endblock %}</h1>
    {% block body %}{% endblock %}
</body>

</html>
