html {
 height: 100%;
 margin: 0;
}
body {
  background-image: url('bg.png');
  /* background-color: #f2e5ff; */
  height: 20%;
/* background-position: top; */
/* background-repeat: no-repeat; */
/* background-size: cover; */
  margin: 0;

  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing:20px;
}

.cnav {
  padding-top: 5px;
  padding-bottom: 20px;
}
